.idea/
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
server/node_modules/
client/node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Dist files
dist

# pgdata
server/pgdata

# Next.js build output
client/.next