.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

.table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    .table {
        font-size: 12px;
    }

    .table th,
    .table td {
        padding: 0.25rem;
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        margin-bottom: 1rem;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .table tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}
